venv/
.venv/
__pycache__/
*.py[cod]
*$py.class

.env
.env.*

.ipynb_checkpoints/

dataset/
hf_cache/

data/*/audio/*
!data/*/audio/.gitkeep

features/*
!features/.gitkeep

models/*
!models/.gitkeep
!models/gmm_models/
!models/gmm_models/.gitkeep

results/*
!results/.gitkeep
!results/plots/
!results/plots/.gitkeep
!results/logs/
!results/logs/.gitkeep
!results/metrics/
!results/metrics/.gitkeep
!results/confusion_matrix/
!results/confusion_matrix/.gitkeep
!results/embeddings/
!results/embeddings/.gitkeep

*.wav
*.mp3
*.flac
*.npy
*.npz
*.pkl
*.joblib
*.pt
*.pth
*.h5
*.zip
*.tar
*.tar.gz
*.7z
*.rar
kaggle.json

.DS_Store
Thumbs.db
